{% extends "layout.html" %}

{% block title %}
  References Management App
{% endblock %}

{% block body %}

  <h2 class="text-center my-4 text-success">References Management App</h2>
  <input type="text" id="search-bar" onkeyup="search()" placeholder="Search for references..">

  <script>
    function search() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue, show_row;
      input = document.getElementById("search-bar");
      filter = input.value.toUpperCase();
      table = document.querySelector("#table-div #table #table-body");
      tr = table.getElementsByTagName("tr");
      // Loop through all table rows
      for (i = 0; i < tr.length; i++) {
        show_row = false;
        // For every row, loop through every cell
        for (j = 0; j < 4; j++) {
          td = tr[i].getElementsByTagName("td")[j];
          if (td) {
            txtValue = td.textContent || td.innerText;
            // If the contents of at least one cell matches, the row will be shown
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              show_row = true;
            }
          }
        }
        if (show_row) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  </script>

  <div class="table-container mb-4" id="table-div">
    <table class="table table-striped table-boarded" id="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Reference ID</th>
          <th>Author</th>
          <th>Title</th>
          <th>
            <button 
              type="button" 
              id="toggle-all-details" 
              name="show_all_details_button" 
              class="btn btn-warning" 
              title="Shows all the details for every field">
              Details
            </button>
          </th>
          <th>
            <a href="/reset" class="btn btn-warning" title="Reset database" id="reset-button">Reset</a>
          </th>
        </tr>
      </thead>
      <tbody id="table-body">
        {% for reference in references %}
          <tr id="table-row">
            <td>{{ reference.reference_type }}</td>
            <td>{{ reference.reference_id }}</td>
            <td>{{ reference.author }}</td>
            <td>{{ reference.title }}</td>
            <td>
              <div
              class="details"
              id="details_{{ reference.id }}"
              style="display:none;">
                {% if reference.year %}Year: {{ reference.year }}<br />{% endif %}
                {% if reference.booktitle %}Booktitle: {{ reference.booktitle }}<br />{% endif %}
                {% if reference.editor %}Editor: {{ reference.editor }}<br />{% endif %}
                {% if reference.volume %}Volume: {{ reference.volume }}<br />{% endif %}
                {% if reference.number %}Number: {{ reference.number }}<br />{% endif %}
                {% if reference.series %}Series: {{ reference.series }}<br />{% endif %}
                {% if reference.pages %}Pages: {{ reference.pages }}<br />{% endif %}
                {% if reference.address %}Address: {{ reference.address }}<br />{% endif %}
                {% if reference.journal %}Journal: {{ reference.journal }}<br />{% endif %}
                {% if reference.month %}Month: {{ reference.month }}<br />{% endif %}
                {% if reference.note %}Note: {{ reference.note }}<br />{% endif %}
                {% if reference.organization %}Organization: {{ reference.organization }}<br />{% endif %}
                {% if reference.publisher %}Publisher: {{ reference.publisher }}<br />{% endif %}
              </div>
              <button
                type="button"
                id="toggle-btn"
                name="show_more_button"
                data-ref-id="{{ reference.id }}"
                class="btn btn-success">
                Show more
              </button>
            </td>
            <td>
              <form action="/delete/{{ reference.id }}" method="POST">
                <button type="submit" name="delete" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    const toggleAllDetailsBtn = document.getElementById('toggle-all-details');
    toggleAllDetailsBtn.addEventListener('click', () => {
      // Get all toggle buttons
      const allToggleButtons = document.querySelectorAll('#toggle-btn');

      // Trigger a click on each button
      allToggleButtons.forEach((button) => {
        button.click();
      });

      // Update the "Show all details" button text based on the state of the first detail's visibility
      const firstDetailsSection = document.querySelector('.details');
      const allDetailsVisible = firstDetailsSection.style.display !== 'none';
      toggleAllDetailsBtn.textContent = allDetailsVisible ? 'Hide all details' : 'Details';
    });

    // Individual show/hide buttons for each row 
    document.querySelectorAll('#toggle-btn').forEach((button) => {
      button.addEventListener('click', () => {
        const refId = button.getAttribute('data-ref-id');
        const detailsSection = document.getElementById(`details_${refId}`);
        const isVisible = detailsSection.style.display === 'block';

        // Toggle the visibility: show if hidden, hide if visible
        detailsSection.style.display = isVisible ? 'none' : 'block';

        // Change the button text based on visibility
        button.textContent = isVisible ? 'Show more' : 'Hide';
      });
    });

    // Confirmation for reset button
    const resetButton = document.getElementById('reset-button');
    resetButton.addEventListener('click', (event) => {
    const userConfirmedReset = confirm('Are you sure you want to reset the entire database?');
    if (!userConfirmedReset) {
      event.preventDefault();
    }
    });

    // Confirmation for delete button
    document.querySelectorAll('.btn-danger[name="delete"]').forEach((button) => {
      button.addEventListener('click', (event) => {
        const userConfirmed = confirm('Are you sure you want to delete this reference?');
        if (!userConfirmed) {
          event.preventDefault();
        }
      });
    });
  </script>

  <div class="container-fluid mb-4">
    <a href="/new_reference" class="btn btn-success" id="button_to_reference">
      Create a new reference</a>
    <form action="/download" method="GET" style="display: block;">
      <br />
      <button type="submit" name="download"  class="btn btn-success">Download</button>
    </form>
    <br />
    <a href="/preview" class="btn btn-success" id="button_to_preview">Preview</a>
  </div>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
        <div class="alert {{ 'alert-success' if category == 'Added' else 'alert-danger' }}" id="flash-alert">
          <h5>{{ message }}</h5>
        </div>
      {% endfor %}
  {% endif %}
  {% endwith %}

  <script>
    // Automatically hide the flash messages after 3 seconds
    setTimeout(() => {
      const flashMessages = document.getElementById('flash-alert');
      if (flashMessages) {
        flashMessages.style.display = 'none';
      }
    }, 3000);
  </script>
{% endblock %}
