{% extends "layout.html" %}

{% block title %}
  References Management App
{% endblock %}

{% block body %}
  <h2>References Management App</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Reference ID</th>
          <th>Author</th>
          <th>Title</th>
          <th>Booktitle</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        {% for inproceeding in inproceedings %}
          <tr>
            <td>{{ inproceeding.reference_id }}</td>
            <td>{{ inproceeding.author }}</td>
            <td>{{ inproceeding.title }}</td>
            <td>{{ inproceeding.booktitle }}</td>
            <td>{{ inproceeding.year }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div>
        <a href="/new_reference" class="button-link" id="button_to_reference"> Create a new inproceedings reference</a>
        <form action="/download" method="GET" style="display: block;"><br>
      <button type="submit" name="download" class="button">Download</button>
        </form><br>
        <a href="/preview" id="button_to_preview">Preview</a>
  </div>
{% endblock %}
