{% extends "layout.html" %}
{% block title %}
  Create a new reference
{% endblock %}
{% block body %}

  <a href="/" class="button-link" id="button_to_homepage">Back to homepage</a>
  <h2>Create a new reference</h2>
  
    <!-- Select Reference Type -->
    <label for="type">Reference Type:</label>
    <select id="type" name="type" onchange="toggleFields()" required>
      <option value="inproceeding">Inproceeding</option>
      <option value="article">Article</option>
      <option value="book">Book</option>
    </select><br />

  
    <!-- Type-Specific Fields -->
    <!-- Inproceeding -->
    <div id="inproceeding_fields">
      <form action="/create_inproceeding" method="post">

        <fieldset>
          <legend>Required Fields</legend>
          <label for="reference_id">Reference ID:</label>
          <input type="text" name="reference_id" required /><br />
          <label for="author">Author:</label>
          <input type="text" name="author" required /><br />
          <label for="title">Title:</label>
          <input type="text" name="title" required /><br />
          <label for="booktitle">Booktitle:</label>
          <input type="text" name="booktitle" required/><br />
          <label for="year">Year:</label>
          <input type="number" name="year" required /><br />
        </fieldset>
        <fieldset>
          <legend>Optional Fields</legend>
          <label for="editor">Editor:</label>
          <input type="text" name="editor" /><br />
          <label for="volume">Volume:</label>
          <input type="number" name="volume" /><br />
          <label for="number">Number:</label>
          <input type="number" name="number" /><br />
          <label for="series">Series:</label>
          <input type="text" name="series" /><br />
          <label for="pages">Pages:</label>
          <input type="text" name="pages" /><br />
          <label for="address">Address:</label>
          <input type="text" name="address" /><br />
          <label for="month">Month:</label>
          <input type="text" name="month" /><br />
          <label for="organization">Organization:</label>
          <input type="text" name="organization" /><br />
          <label for="publisher">Publisher:</label>
          <input type="text" name="publisher" /><br />
        </fieldset>
        <button type="submit" name="create" class="button">Create</button>
      </form>
    </div>
  
    <!-- Article -->
    <div id="article_fields" style="display: none;">
      <form action="/create_article" method="post">
        <fieldset>
          <legend>Required Fields</legend>
          <label for="reference_id">Reference ID:</label>
          <input type="text" name="reference_id" required /><br />
          <label for="author">Author:</label>
          <input type="text" name="author" required /><br />    
          <label for="title">Title:</label>
          <input type="text" name="title" required /><br />
          <label for="journal">Journal:</label>
          <input type="text" name="journal" required/><br />
          <label for="year">Year:</label>
          <input type="number" name="year" required /><br />
        </fieldset>
        <fieldset>
          <legend>Optional Fields</legend>
          <label for="volume">Volume:</label>
          <input type="number" name="volume" /><br />
          <label for="number">Number:</label>
          <input type="number" name="number" /><br />
          <label for="pages">Pages:</label>
          <input type="text" name="pages" /><br />
          <label for="month">Month:</label>
          <input type="text" name="month" /><br />
          <label for="note">Note:</label>
          <input type="text" name="note" /><br />
        </fieldset>
        <button type="submit" name="create" class="button">Create</button>
      </form>
    </div>
  
    <!-- Book -->
    <div id="book_fields" style="display: none;">
      <form action="/create_book" method="post">

        <fieldset>
          <legend>Required Fields</legend>
          <label for="reference_id">Reference ID:</label>
          <input type="text" name="reference_id" required /><br />
          <label for="author">Author:</label>
          <input type="text" name="author" required /><br />
          <label for="year">Year:</label>
          <input type="number" name="year" required /><br />
          <label for="title">Title:</label>
          <input type="text" name="title" required /><br />
          <label for="publisher">Publisher:</label>
          <input type="text" name="publisher" required /><br />
          <label for="address">Address:</label>
          <input type="text" name="address" required /><br />
        </fieldset>
        <button type="submit" name="create" class="button">Create</button>
      </form>
    </div>
    
  <script>
    function toggleFields() {
      const type = document.getElementById("type").value;

      document.getElementById("inproceeding_fields").style.display = (type === "inproceeding") ? "block" : "none";
      document.getElementById("article_fields").style.display = (type === "article") ? "block" : "none";
      document.getElementById("book_fields").style.display = (type === "book") ? "block" : "none";
    }
  </script>
{% endblock %}
