{% extends "layout.html" %}
{% block title %}
  Create a new reference
{% endblock %}
{% block body %}

<div class="container-fluid pt-3">
  <a href="/" class="btn btn-success mb-4" id="button_to_homepage">
    <i class="bi bi-arrow-left-circle"></i> Back to homepage
  </a>
  <h2 class="display-4 text-center text-success mb-4">Create a new reference</h2>
</div>

  <!-- Select Reference Type -->
  <div class="container mt-4">
    <label for="type">Reference Type:</label>
    <select class="form-select w-50" id="type" name="type" onchange="toggleFields()" required>
      <!-- <option selected>Choose a reference</option> -->
      <option value="inproceeding">Inproceeding</option>
      <option value="article">Article</option>
      <option value="book">Book</option></select
    ><br />
  </div>

  <!-- Type-Specific Fields -->
  <!-- Inproceeding -->
  <div class="container mt-4">
    <div id="inproceeding_fields">
      <form action="/create_reference" method="post">
        <fieldset>
          <legend>Required Fields</legend>
          <div class="row">
            <div class="col-md-6 mb-3">
              <input
                type="hidden"
                class="reference_type"
                name="reference_type"
                value="inproceedings"
              />
              <label for="inproceeding_reference_id">Reference ID:</label>
              <input
                class="form-control form-control-sm"
                type="text"
                name="reference_id"
                id="inproceeding_reference_id"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="inproceeding_author">Author:</label>
              <input
                class="form-control form-control-sm"
                type="text"
                name="author"
                id="inproceeding_author"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="inproceeding_title">Title:</label>
              <input
                class="form-control form-control-sm"
                type="text"
                name="title"
                id="inproceeding_title"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="inproceeding_booktitle">Booktitle:</label>
              <input
                class="form-control form-control-sm"
                type="text"
                name="booktitle"
                id="inproceeding_booktitle"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="inproceeding_year">Year:</label>
              <input
                class="form-control form-control-sm"
                type="number"
                name="year"
                id="inproceeding_year"
                required
              />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Optional Fields</legend>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="editor">Editor:</label>
              <input class="form-control form-control-sm" type="text" name="editor" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="volume">Volume:</label>
              <input class="form-control form-control-sm" type="number" name="volume" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="number">Number:</label>
              <input class="form-control form-control-sm" type="number" name="number" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="series">series:</label>
              <input class="form-control form-control-sm" type="text" name="series" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="pages">Pages:</label>
              <input class="form-control form-control-sm" type="text" name="pages" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="address">Address:</label>
              <input class="form-control form-control-sm" type="text" name="address" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="month">Month:</label>
              <input class="form-control form-control-sm" type="text" name="month" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="organization">Organization:</label>
              <input class="form-control form-control-sm" type="text" name="organization" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="publisher">Publisher:</label>
              <input class="form-control form-control-sm" type="text" name="publisher" />
            </div>
          </div>
        </fieldset>
        <button type="submit" name="create" id="create_inproceeding" class="btn btn-success mb-4">Create</button>
      </form>
    </div>
  </div>
  

    <!-- Article -->
    <div class="container mt-4">
      <div id="article_fields" style="display: none;">
        <form action="/create_reference" method="post">
          <fieldset>
            <legend>Required Fields</legend>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="article_reference_id">Reference ID:</label>
                <input
                  type="hidden"
                  class="reference_type"
                  name="reference_type"
                  value="article"
                />
                <input class="form-control form-control-sm" type="text" name="reference_id" id="article_reference_id" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="article_author">Author:</label>
                <input class="form-control form-control-sm" type="text" name="author" id="article_author" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="article_title">Title:</label>
                <input class="form-control form-control-sm" type="text" name="title" id="article_title" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="article_journal">Journal:</label>
                <input class="form-control form-control-sm" type="text" name="journal" id="article_journal" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="article_year">Year:</label>
                <input class="form-control form-control-sm" type="number" name="year" id="article_year" required /><br />
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Optional Fields</legend>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="volume">Volume:</label>
                <input class="form-control form-control-sm" type="number" name="volume" /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="number">Number:</label>
                <input class="form-control form-control-sm" type="number" name="number" /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="pages">Pages:</label>
                <input class="form-control form-control-sm" type="text" name="pages" /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="month">Month:</label>
                <input class="form-control form-control-sm" type="text" name="month" /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="note">Note:</label>
                <input class="form-control form-control-sm" type="text" name="note" /><br />
              </div>
            </div>
          </fieldset>
          <button type="submit" name="create" id="create_article" class="btn btn-success mb-4">Create</button>
        </form>
      </div>
    </div>
    <!-- Book -->
    <div class="container mt-4">
      <div id="book_fields" style="display: none;">
        <form action="/create_reference" method="post">
          <fieldset>
            <legend>Required Fields</legend>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="book_reference_id">Reference ID:</label>
                <input
                  type="hidden"
                  class="reference_type"
                  name="reference_type"
                  value="book"
                />
                <input class="form-control form-control-sm" type="text" name="reference_id" id="book_reference_id" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="book_author">Author:</label>
                <input class="form-control form-control-sm" type="text" name="author" id="book_author" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="book_year">Year:</label>
                <input class="form-control form-control-sm" type="number" name="year" id="book_year" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="book_title">Title:</label>
                <input class="form-control form-control-sm" type="text" name="title" id="book_title" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="book_publisher">Publisher:</label>
                <input class="form-control form-control-sm" type="text" name="publisher" id="book_publisher" required /><br />
              </div>
              <div class="col-md-6 mb-3">
                <label for="book_address">Address:</label>
                <input class="form-control form-control-sm" type="text" name="address" id="book_address" required /><br />
              </div>
            </div>
          </fieldset>
          <button type="submit" name="create" id="create_book" class="btn btn-success mb-4">Create</button>
        </form>
      </div>
    </div>
  </div>
  <div>  {% with messages = get_flashed_messages() %}{% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}{% endwith %}</div>
  <script>
    function toggleFields() {
      const type = document.getElementById("type").value;
      document.getElementById("")
      document.getElementById("inproceeding_fields").style.display =
        type === "inproceeding" ? "block" : "none";
      document.getElementById("article_fields").style.display =
        type === "article" ? "block" : "none";
      document.getElementById("book_fields").style.display =
        type === "book" ? "block" : "none";
    }
  </script>
{% endblock %}
